$small-sm: 4px;
$small-md: 8px;
$small-lg: 12px;
$small: 16px;
$middle-sm: 20px;
$middle-md: 24px;
$middle-lg: 28px;
$middle: 36px;
$large: 48px;
$X-large: 80px;

$color-primary:#FF541C;
$color-secondary: #C6A866;
$color-white: #ffffff;
$color-block: #121212;
$color-info-1: #FF1C38;
$color-info-2: #CCA838;
$color-bg: #EEE6DB;
$color-footer-bg: #351f0e;
$color-phone: #035095;
// $color-warning: ;
// $color-muted: ;
// $color-gray: ;