// banner
.banner {
    width: 100%;
    padding-top: 50%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    .title-group {
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.4);
        // background-color: $color-footer-bg;
    }
    .bg-img {
        width: 50%;
        padding-top: 8%;
        background-position: center center;
        background-repeat: no-repeat;
        @include pad {
            width: 70%;
            padding-top: 12%;
        }
        @include mobile {
            width: 85%;
            padding-top: 15%;
        }
    }
    .title {
        background-size: 100%;
        border-radius: $small-md;
        margin-top: 80px;
        @include pad {
            margin-top: 56px;
        }
        @include mobile {
            margin-top: 64px;
        }
    }
    .subtitle {
        // background-size: 80%;
        // padding-top: 5%;
        background-size: 50%;
        padding-top: 5%;
    }
    .style {
        width: 50%;
        background-size: 45%;
        // background-color: rgba(250, 250, 250, 0.5);
        border-radius: $small-md;
        margin-top: 80px;
        @include pad {
            margin-top: 56px;
            background-size: 60%;
        }
        @include mobile {
            margin-top: 64px;
            background-size: 80%;
        }
    }
}

// banner-index
.banner-index {
    background-position: center top;
    background-image: url("../images/Banner/index.png");
    @include pad {
        background-size: 100%;
        padding-top: 60%;
    }
    @include mobile {
        background-position: center bottom;
        background-attachment: unset;
        padding-top: 83.5%;
    }
    .title {
        background-image: url("../images/Index/index-title-1.png");
    }
    .subtitle {
        background-image: url("../images/Index/index-title-2.png");
    }
}

// banner-news
.banner-news {
    background-image: url("../images/Banner/news.png");
    .title {
        background-image: url("../images/Header/header_1.png");
    }
}

// banner-aboutUs
.banner-aboutUs {
    background-image: url("../images/Banner/aboutUs.png");
    .title {
        background-image: url("../images/Header/header_2.png");
    }
}

// banner-menu
.banner-menu {
    background-image: url("../images/Banner/menu.png");
    .title {
        background-image: url("../images/Header/header_3.png");
    }
}

// banner-QA
.banner-QA {
    background-image: url("../images/Banner/QA.png");
    .title {
        background-image: url("../images/Header/header_4.png");
    }
}

// banner-contactUs
.banner-contactUs {
    background-image: url("../images/Banner/contactUs.png");
    .title {
        background-image: url("../images/Header/header_5.png");
    }
}

// banner-fanPage
.banner-fanPage {
    background-image: url("../images/Banner/fanPage.png");
    .title {
        background-image: url("../images/Header/header_6.png");
    }
}

// banner Pad Mobile
.banner-news,
.banner-aboutUs,
.banner-menu,
.banner-QA,
.banner-contactUs,
.banner-fanPage {
    padding-top: 45%;
    @include pad {
        background-position: center top;
        background-size: 100%;
        padding-top: 50%;
    }
    @include mobile {
        background-position: center bottom;
        background-attachment: unset;
        padding-top: 83.4%;
    }
}