// card
.card {
    background-color: $color-bg;
    padding: $middle 0;
    @include pad {
        padding: $middle-md 0;
    }
    @include mobile {
        padding: $middle-md 0 $small;
    }
    .title {
        width: 100%;
        padding-top: 8%;
        text-align: center;
        background-image: url("../images/Popular/popular-title.png");
        background-position: center center;
        background-size: 35%;
        background-repeat: no-repeat;
        margin-bottom: $middle-md;
        @include pad {
            padding-top: 10%;
            background-size: 55%;
        }
        @include mobile {
            padding-top: 10%;
            background-size: 75%;
        }
    }
    .list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .item {
        width: 32%;
        overflow: hidden;
        &:nth-child(n + 4) {
            margin-top: $middle-md;
        }
        @include pad {
            width: 49%;
            &:nth-child(n + 3) {
                margin-top: $small;
            }
        }
        @include mobile {
            width: 100%;
            &:nth-child(n + 2) {
                margin-top: $small-md;
            }
        }
    }
    .meal {
        transform: scale(1);
        transition: 0.8s;
        &:hover {
            transform: scale(1.5);
        }
    }
    .arrow {
        font-size: 36px;
        color: $color-primary;
        position: absolute;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        z-index: 90;
        cursor: pointer;
        .swiper-button-next,
        .swiper-button-prev {
            display: block;
            width: 100%;
            height: 100%;
            text-indent: 101%;
            overflow: hidden;
            white-space: nowrap;
            outline: none;
        }
    }
    .arrow-right {
        right: 0;
    }
    .arrow-left {
        left: 0;
    }
}
