//story
.about-story {
    background-color: $color-bg;
    padding: $middle 0;
    .intro {
        width: 100%;
        position: relative;
    }
    .part {
        width: 100%;
        padding: 0 0 $middle 0;
        @include pad {
            padding: 0 0 $middle-md 0;
        }
        @include mobile {
            padding: 0 0 $small 0;
        }
    }
    .title,
    .since {
        margin: 0 auto;
        padding-top: 8%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
        @include pad {
            padding-top: 10%;
        }
    }
    .title {
        width: 70%;
        background-image: url("../images/Story/story-title.png");
        position: relative;
        padding-bottom: $middle-md;
        @include pad {
            width: 80%;
        }
        @include mobile {
            width: 100%;
        }
    }
    .since {
        width: 35%;
        background-image: url("../images/Story/since.png");
        @include pad {
            width: 40%;
        }
        @include mobile {
            width: 60%;
        }
    }
    .text-group {
        width: 70%;
        margin: 0 auto;
        padding: $small;
        @include pad {
            width: 80%;
        }
        @include mobile {
            width: 100%;
            padding: $small-md $small;
        }
    }
    .text {
        letter-spacing: .2em;
        line-height: 1.5em !important;
        color: $color-block;
        font: normal normal bold 21px/28px "Lato", "Noto Sans TC", sans-serif;
        @include pad {
            font: normal normal bold 16px/24px "Lato", "Noto Sans TC", sans-serif;
        }
        @include mobile {
            font: normal normal bold 14px/21px "Lato", "Noto Sans TC", sans-serif;
        }
        & + .text {
            margin-top: $small;
        }
        &::first-letter {
            margin: 0 .15em 0 .8em;
            font-size: 36px;
            float: left;
            @include pad {
                font-size: 24px;
                margin: 0 .1em 0 .8em;
            }
            @include mobile {
                font-size: 21px;
            }
        }
    }
    .reference {
        display: block;
        text-align: right;
        color: $color-primary;
        margin-top: $small;
        font: normal normal bold 21px/28px "Lato", "Noto Sans TC", sans-serif;
        transition: 0.5s;
        &:hover {
            color: $color-secondary;
        }
        @include mobile {
            font: normal normal bold 16px/24px "Lato", "Noto Sans TC", sans-serif;
        }
    }
    .slogan {
        width: 70%;
        margin: $middle auto 0;
        text-align: center;
        color: $color-primary;
        font: normal normal bold 30px/48px "Lato", "Noto Sans TC", sans-serif;
        position: relative;
        @include pad {
            width: 80%;
            font: normal normal bold 24px/36px "Lato", "Noto Sans TC", sans-serif;
            margin: $middle-md auto 0;
        }
        @include mobile {
            width: 90%;
            font: normal normal bold 16px/24px "Lato", "Noto Sans TC", sans-serif;
            margin: $small auto 0;
        }
        &::before,
        &::after {
            content: "";
            width: 5%;
            height: 40%;
            display: block;
            position: absolute;
        }
        &::before {
            border-top: 5px solid $color-secondary;
            border-left: 5px solid $color-secondary;
            top: -10%;
            left: 4%;
            @include mobile {
                top: -20%;
                left: -5%;
            }
        }
        &::after {
            border-right: 5px solid $color-secondary;
            border-bottom: 5px solid $color-secondary;
            bottom: -10%;
            right: 4%;
            @include mobile {
                right: -3%;
            }
        }
    }
    .pic-group {
        display: flex;
        justify-content: space-between;
        margin-top: $middle;
        @include mobile {
            flex-wrap: wrap;
            margin-top: $middle-md;
        }
    }
    .pic {
        width: 49%;
        padding-top: 35%;
        background-position: center center;
        background-size: cover;
        border-radius: $small-md;
        box-shadow: 0 0 10px 5px $color-secondary;
        @include pad {
            padding-top: 40%;
        }
        @include mobile {
            width: 100%;
            padding-top: 80%;
        }
    }
    .pic-1 {
        background-image: url("../images/Story/story-pic-1.png");
    }
    .pic-2 {
        background-image: url("../images/Story/story-pic-2.png");
        @include mobile {
            margin-top: $middle-md;
        }
    }
}