.contact-info {
    background-color: $color-bg;
    padding: $middle 0;
    .photo {
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .title {
        padding-top: 8%;
        background-image: url('../images/Index/index-title-1.png');
        background-size: 50%;
        @include pad {
            padding-top: 10%;
            background-size: 60%;
        }
        @include mobile {
            padding-top: 16%;
            background-size: 100%;
        }
    }
    .subtitle {
        padding-top: 5%;
        background-image: url('../images/Index/index-title-2.png');
        background-size: 40%;
        @include pad {
            background-size: 50%;
        }
        @include mobile {
            padding-top: 8%;
            background-size: 90%;
        }
    }
    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: $large;
        @include pad {
            padding-top: $middle;
        }
        @include mobile {
            flex-wrap: wrap;
        }
    }
    .pic {
        width: 49%;
        padding-top: 35%;
        background-image: url("../images/Contact/Card.png");
        background-position: center center;
        background-size: cover;
        border-radius: $small-md;
        box-shadow: 0 0 10px 10px $color-secondary;
        @include pad {
            padding-top: 45%;
        }
        @include mobile {
            width: 100%;
            padding-top: 70%;
            box-shadow: 0 0 3px 3px $color-secondary;
        }
    }
    .info {
        width: 49%;
        @include mobile {
            width: 100%;
        }
    }
    .info-title {
        width: 100%;
        text-align: center;
        padding: $small 0;
        color: $color-primary;
        font: normal normal bold 36px/48px "Lato", "Noto Sans TC", sans-serif;
        @include pad {
            font: normal normal bold 28px/36px "Lato", "Noto Sans TC", sans-serif;
        }
        @include mobile {
            padding: $middle-md 0 $small;
        }
    }
    .info-group {
        padding: 0 $middle-md;
    }
    .item {
        font: normal normal bold 21px/28px "Lato", "Noto Sans TC", sans-serif;
        & + .item {
            margin-top: $middle-md;
            @include pad {
                margin-top: $small;
            }
        }
        @include pad {
            font: normal normal bold 16px/24px "Lato", "Noto Sans TC", sans-serif;
        }
    }
    .number,
    .address {
        color: $color-block;
    }
    .media {
        width: 30%;
        margin: 0 auto;
        padding-top: $small;
        display: flex;
        justify-content: space-between;
        @include pad {
            width: 35%;
        }
        @include mobile {
            width: 40%;
        }
    }
    .facebook {
        margin-right: $middle-md;
    }
    .instagram {
        margin-left: $middle-md;
    }
    .text-md {
        @include pad {
            font: normal normal bold 14px/21px "Lato", "Noto Sans TC", sans-serif;
        }
    }
}