// story
.index-story {
    background-color: $color-bg;
    padding: $middle 0 0 0;
    @include pad {
        padding: $middle-md 0;
    }
    .intro {
        width: 100%;
        border-top: 4px solid $color-primary;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mobile {
            flex-wrap: wrap;
        }
        // &::before,
        // &::after {
        //     content: "";
        //     position: absolute;
        //     top: -17px;
        //     border-top: 15px solid transparent;
        //     border-bottom: 15px solid transparent;
        // }
        // &::before {
        //     left: -1%;
        //     border-right: 30px solid $color-primary;
        // }
        // &::after {
        //     right: -1%;
        //     border-left: 30px solid $color-primary;
        // }
    }
    .part {
        width: 49%;
        padding: $middle 0;
        @include pad {
            padding: $middle-md 0 0 0;
        }
        @include mobile {
            width: 100%;
        }
    }
    .title,
    .since {
        margin: 0 auto;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .title {
        padding-top: 10%;
        width: 90%;
        background-image: url("../images/Story/story-title.png");
        position: relative;
        padding-bottom: $middle-md;
        @include pad {
            width: 100%;
        }
        // &::after,
        // &::before {
        //     content: "";
        //     background-color: $color-secondary;
        //     position: absolute;
        //     left: 0;
        //     right: 0;
        //     margin: 0 auto;
        // }
        // &::after {
        //     width: 100%;
        //     height: 4px;
        //     bottom: 0;
        // }
        // &::before {
        //     width: 20px;
        //     height: 20px;
        //     border-radius: 50%;
        //     bottom: -8px;
        // }
    }
    .since {
        padding-top: 8%;
        width: 40%;
        background-image: url("../images/Story/since.png");
        @include pad {
            width: 45%;
        }
    }
    .text-group {
        padding: $small;
        @include mobile {
            padding: $small-md;
        }
    }
    .text {
        text-indent: 1.5em;
        letter-spacing: .1em;
        color: $color-block;
        font: normal normal bold 16px/24px "Lato", "Noto Sans TC", sans-serif;
        & + .text {
            margin-top: $small;
            @include mobile {
                margin-top: $small-md;
            }
        }
        @include pad {
            text-indent: 1em;
            font: normal normal bold 14px/21px "Lato", "Noto Sans TC", sans-serif;
        }
    }
    .reference {
        display: block;
        text-align: right;
        color: $color-primary;
        font: normal normal bold 21px/28px "Lato", "Noto Sans TC", sans-serif;
        transition: 0.5s;
        @include pad {
            font: normal normal bold 16px/24px "Lato", "Noto Sans TC", sans-serif;
            margin-top: $small;
        }
        @include mobile {
            margin-top: $small-md;
        }
        &:hover {
            color: $color-secondary;
        }
    }
    .pic {
        padding-top: 35%;
        background-image: url("../images/Story/story-pic-1.png");
        background-position: center center;
        background-size: cover;
        border-radius: $small-md;
        box-shadow: 0 0 10px 5px $color-secondary;
        @include pad {
            box-shadow: 0 0 8px 8px $color-secondary;
        }
        @include mobile {
            padding-top: 80%;
            box-shadow: 0 0 3px 3px $color-secondary;
            margin-top: $small;
        }
    }
}
