// order-menu
.order-menu {
    padding: $middle 0;
    border-top: 3px solid $color-primary;
    background-color: $color-bg;
    @include pad {
        padding: $middle-md 0;
    }
    @include mobile {
        padding: $small 0;
    }
    .main-pic {
        width: 100%;
        padding-top: 70%;
        background-image: url("../images/Menu/點菜單-黑.JPG");
        background-position: center center;
        background-size: 100%;
        background-repeat: no-repeat;
        cursor: pointer;
        @include pad {
            padding-top: 75%;
        }
    }
    .pic-modal {
        position: fixed;
        background-color: rgba(19, 10, 4, 0.6);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 101;
        display: none;
        .menu-modal {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            width: 85%;
            height: 95%;
            @include pad {
                width: 95%;
                height: 60%;
            }
            @include mobile {
                width: 98%;
                height: 38%;
            }
        }
        .close {
            font-size: 48px;
            color: $color-primary;
            background-color: $color-white;
            border-radius: 50%;
            position: absolute;
            top: 0;
            right: 5.5%;
            cursor: pointer;
            @include pad {
                font-size: 36px;
                top: 17.5%;
                right: 2.5%;
            }
            @include mobile {
                font-size: 24px;
                top: 29%;
                right: 2%;
            }
        }
    }
    .title {
        width: 100%;
        padding-top: 10%;
        background-position: center center;
        background-size: 35%;
        background-repeat: no-repeat;
        border-top: 3px solid $color-secondary;
        position: relative;
        @include pad {
            background-size: 45%;
            padding-top: 15%;
        }
        @include mobile {
            background-size: 65%;
            padding-top: 20%;
        }
        .menu-arrow {
            display: none;
            @include mobile {
                display: block;
                font-size: 24px;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 10%;
                display: flex;
                align-items: center;
                transform: rotate(0deg);
                cursor: pointer;
                animation: moving 0.4s 1s infinite ease-in-out alternate-reverse;
                &.active {
                    transform: rotate(180deg);
                }
            }
        }
        @keyframes moving {
            0% {
                top: 0;
            }
            50% {
                top: 4px;
            }
            100% {
                top: 8px;
            }
        }
    }
    .nav-wrap {
        @include mobile {
            display: none;
        }
    }
    .nav-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: $middle;
        @include mobile {
            margin-bottom: $small;
        }
    }
    .nav {
        width: 24.6%;
        padding-top: 25%;
        background-position: center center;
        background-size: 100%;
        background-repeat: no-repeat;
        position: relative;
        @include pad {
            padding-top: 34%;
            width: 32.7%;
        }
        @include mobile {
            padding-top: 50.5%;
            width: 49.5%;
        }
    }
    .star-group {
        font-size: 20px;
        align-self: flex-end;
        margin-right: $small-md;
        color: #fdc500;
        @include pad {
            font-size: 18px;
        }
        @include mobile {
            font-size: 12px;
            margin-top: 1.5%;
        }
    }
    .price-group {
        width: 100%;
        height: 91%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @include pad {
            height: 90%;
        }
        @include mobile {
            height: 93%;
        }
    }
    .price {
        display: flex;
        align-items: center;
        font: normal normal bold 21px/28px "Lato", "Noto Sans TC", sans-serif;
        color: $color-info-2;
        @include pad {
            font: normal normal bold 18px/24px "Lato", "Noto Sans TC", sans-serif;
        }
        @include mobile {
            font: normal normal bold 14px/21px "Lato", "Noto Sans TC", sans-serif;
        }
    }
    .price-mb {
        @include mobile {
            font: normal normal bold 12px/16px "Lato", "Noto Sans TC", sans-serif;
        }
    }
    .mark {
        color: $color-primary;
        margin-left: $small-md;
        font: normal normal bold 18px/26px "Lato", "Noto Sans TC", sans-serif;
        @include pad {
            margin-left: $small-sm;
            font: normal normal bold 14px/21px "Lato", "Noto Sans TC", sans-serif;
        }
        @include mobile {
            font: normal normal bold 12px/16px "Lato", "Noto Sans TC", sans-serif;
        }
    }
    .mark-s {
        margin-left: 0;
    }
    .text {
        width: 100%;
        text-align: center;
        margin-top: $middle-md;
        font: normal normal bold 28px/40px "Lato", "Noto Sans TC", sans-serif;
        @include pad {
            font: normal normal bold 21px/28px "Lato", "Noto Sans TC", sans-serif;
        }
        @include mobile {
            font: normal normal bold 16px/24px "Lato", "Noto Sans TC", sans-serif;
            margin-top: $small-md;
        }
    }
    .special {
        color: $color-primary;
    }

    // pastry
    .pastry-header {
        background-image: url("../images/Menu/Pastry/pastry-header.png");
    }
    .pastry-1 {
        background-image: url("../images/Menu/Pastry/1_上海小籠湯包.png");
    }
    .pastry-2 {
        background-image: url("../images/Menu/Pastry/2_絲瓜蝦仁湯包.png");
    }
    .pastry-3 {
        background-image: url("../images/Menu/Pastry/3_香菇素菜蒸餃.png");
    }
    .pastry-4 {
        background-image: url("../images/Menu/Pastry/4_葫瓜鮮肉鍋貼.png");
    }
    .pastry-5 {
        background-image: url("../images/Menu/Pastry/5_牛肉捲大餅.png");
    }
    .pastry-6 {
        background-image: url("../images/Menu/Pastry/6_豬肉捲大餅.png");
    }
    .pastry-7 {
        background-image: url("../images/Menu/Pastry/7_抓餅.png");
    }
    .pastry-8 {
        background-image: url("../images/Menu/Pastry/8_蔥油餅.png");
    }
    .pastry-9 {
        background-image: url("../images/Menu/Pastry/9_南瓜芋泥糕.png");
    }
    .pastry-10 {
        background-image: url("../images/Menu/Pastry/10_芝麻豆沙鍋餅.png");
    }
    .pastry-11 {
        background-image: url("../images/Menu/Pastry/11_香蒸螺絲卷.png");
    }
    .pastry-12 {
        background-image: url("../images/Menu/Pastry/12_酥炸螺絲卷.png");
    }
    .pastry-13 {
        background-image: url("../images/Menu/Pastry/13_鹹光餅.png");
    }
    .pastry-14 {
        background-image: url("../images/Menu/Pastry/102_特製臘味蘿蔔糕.png");
    }

    // appetizer
    .appetizer-header {
        background-image: url("../images/Menu/Appetizer/appetizer-header\ .png");
    }
    .appetizer-1 {
        background-image: url("../images/Menu/Appetizer/16_和風海鮮沙拉.png");
    }
    .appetizer-2 {
        background-image: url("../images/Menu/Appetizer/17_香魚甘露煮.png");
    }
    .appetizer-3 {
        background-image: url("../images/Menu/Appetizer/18_鮭魚卵山藥麵線.png");
    }
    .appetizer-4 {
        background-image: url("../images/Menu/Appetizer/23_北平辣黃瓜.png");
    }

    // meat
    .meat-header {
        background-image: url("../images/Menu/Meat/meat-header.png");
    }
    .meat-1 {
        background-image: url("../images/Menu/Meat/19_蜜汁燻茶鵝.png");
    }
    .meat-2 {
        background-image: url("../images/Menu/Meat/20_白斬正土雞.png");
    }
    .meat-3 {
        background-image: url("../images/Menu/Meat/21_紹興醉雞.png");
    }
    .meat-4 {
        background-image: url("../images/Menu/Meat/22_客家鹽焗雞.png");
    }
    .meat-5 {
        background-image: url("../images/Menu/Meat/24_紅燒虎掌.png");
    }
    .meat-6 {
        background-image: url("../images/Menu/Meat/25_鎮店東坡肉.png");
    }
    .meat-7 {
        background-image: url("../images/Menu/Meat/26_松子叉燒子排.png");
    }
    .meat-8 {
        background-image: url("../images/Menu/Meat/33_桔汁羊小排.png");
    }
    .meat-9 {
        background-image: url("../images/Menu/Meat/57_砂鍋虎掌海參.png");
    }
    .meat-10 {
        background-image: url("../images/Menu/Meat/61_紅煨牛三件.png");
    }
    .meat-11 {
        background-image: url("../images/Menu/Meat/114_招牌鎮江豬腳.png");
    }

    // seafood
    .seafood-header {
        background-image: url("../images/Menu/Seafood/seafood-header.png");
    }
    .seafood-1 {
        background-image: url("../images/Menu/Seafood/28_蟹黃豆腐煲.png");
    }
    .seafood-2 {
        background-image: url("../images/Menu/Seafood/40_白灼白秋蝦.png");
    }
    .seafood-3 {
        background-image: url("../images/Menu/Seafood/41_鹽酥白秋蝦.png");
    }
    .seafood-4 {
        background-image: url("../images/Menu/Seafood/45_生菜蝦鬆.png");
    }
    .seafood-5 {
        background-image: url("../images/Menu/Seafood/47_百合炒蝦仁.png");
    }
    .seafood-6 {
        background-image: url("../images/Menu/Seafood/48_豆苗炒蝦仁.png");
    }
    .seafood-7 {
        background-image: url("../images/Menu/Seafood/49_香清炒蝦仁.png");
    }
    .seafood-8 {
        background-image: url("../images/Menu/Seafood/51_生菜海鮮油條.png");
    }
    .seafood-9 {
        background-image: url("../images/Menu/Seafood/52_翡翠海鮮油條.png");
    }
    .seafood-10 {
        background-image: url("../images/Menu/Seafood/62_韭黃炒曼波魚.png");
    }
    .seafood-11 {
        background-image: url("../images/Menu/Seafood/63_蒜苗炒曼波魚.png");
    }
    .seafood-12 {
        background-image: url("../images/Menu/Seafood/64_韭黃炒鱔糊.png");
    }
    .seafood-13 {
        background-image: url("../images/Menu/Seafood/100_糖醋鮮黃魚.png");
    }

    // fired
    .fired-header {
        background-image: url("../images/Menu/Fried/fried-header.png");
    }
    .fired-1 {
        background-image: url("../images/Menu/Fried/27_塔香炒蛤蜊.png");
    }
    .fired-2 {
        background-image: url("../images/Menu/Fried/29_山蘇炒臘肉.png");
    }
    .fired-3 {
        background-image: url("../images/Menu/Fried/30_蒜苗炒臘肉.png");
    }
    .fired-4 {
        background-image: url("../images/Menu/Fried/31_乾扁肥腸.png");
    }
    .fired-5 {
        background-image: url("../images/Menu/Fried/32_酥炸肥腸.png");
    }
    .fired-6 {
        background-image: url("../images/Menu/Fried/34_芥蘭炒牛肉.png");
    }
    .fired-7 {
        background-image: url("../images/Menu/Fried/35_蔥爆牛肉片.png");
    }
    .fired-8 {
        background-image: url("../images/Menu/Fried/36_五更腸旺.png");
    }
    .fired-9 {
        background-image: url("../images/Menu/Fried/37_酸白菜炒牛肉.png");
    }
    .fired-10 {
        background-image: url("../images/Menu/Fried/38_宮保雞丁.png");
    }
    .fired-11 {
        background-image: url("../images/Menu/Fried/39_糖醋雞丁.png");
    }
    .fired-12 {
        background-image: url("../images/Menu/Fried/42_柳橙排骨.png");
    }
    .fired-13 {
        background-image: url("../images/Menu/Fried/43_京都排骨.png");
    }
    .fired-14 {
        background-image: url("../images/Menu/Fried/53_松菇鐵板牛柳.png");
    }
    .fired-15 {
        background-image: url("../images/Menu/Fried/54_鐵板鴕鳥肉.png");
    }
    .fired-16 {
        background-image: url("../images/Menu/Fried/55_清香炒三鮮.png");
    }
    .fired-17 {
        background-image: url("../images/Menu/Fried/56_蒜泥白肉.png");
    }
    .fired-18 {
        background-image: url("../images/Menu/Fried/58_蘆筍炒花枝.png");
    }
    .fired-19 {
        background-image: url("../images/Menu/Fried/59_芹菜炒花枝.png");
    }
    .fired-20 {
        background-image: url("../images/Menu/Fried/60_三杯中卷.png");
    }
    .fired-21 {
        background-image: url("../images/Menu/Fried/65_苗栗小炒.png");
    }

    // soup
    .soup-header {
        background-image: url("../images/Menu/Soup/soup-header.png");
    }
    .soup-1 {
        background-image: url("../images/Menu/Soup/103_砂鍋魚頭火鍋.png");
    }
    .soup-2 {
        background-image: url("../images/Menu/Soup/104_砂鍋芋頭鴨煲湯.png");
    }
    .soup-3 {
        background-image: url("../images/Menu/Soup/95_蟲草姬松茸烏骨雞煲湯.png");
    }
    .soup-4 {
        background-image: url("../images/Menu/Soup/97_金華火腿芽白燉雞.png");
    }
    .soup-5 {
        background-image: url("../images/Menu/Soup/106_台式佛跳牆.png");
    }
}
