.QA-list {
    padding: $middle 0;
    background-color: $color-bg;
    .list {
        width: 60%;
        margin: 0 auto;
        @include pad {
            width: 70%;
        }
        @include mobile {
            width: 100%;
        }
    }
    .item {
        border: 2px solid $color-primary;
        border-radius: $small-md;
        &+.item {
            margin-top: $middle;
            @include mobile {
                margin-top: $small;
            }
        }
    }
    .title {
        width: 100%;
        padding-top: 14%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: $small-sm $small-sm 0 0;
        position: relative;
        @include pad {
            padding-top: 12%;
        }
        @include mobile {
            padding-top: 16%;
        }
    }
    .Q1 {
        background-image: url('../images/QA/Q1.png');
    }
    .Q2 {
        background-image: url('../images/QA/Q2.png');
    }
    .Q3 {
        background-image: url('../images/QA/Q3.png');
    }
    .Q4 {
        background-image: url('../images/QA/Q4.png');
    }
    .Q5 {
        background-image: url('../images/QA/Q5.png');
    }
    .Q6 {
        background-image: url('../images/QA/Q6.png');
    }
    .Q7 {
        background-image: url('../images/QA/Q7.png');
    }
    .Q8 {
        background-image: url('../images/QA/Q8.png');
    }
    .Q9 {
        background-image: url('../images/QA/Q9.png');
    }
    .Q10 {
        background-image: url('../images/QA/Q10.png');
    }
    .text-pic {
        width: 60%;
        padding-top: 35%;
        margin: 0 auto $middle-md;
        background-image: url("../images/Banner/contactUs-.jpg");
        background-position: center center;
        background-size: cover;
        border-radius: $small-md;
        @include mobile {
            display: none;
        }
    }
    .text {
        padding: $middle-md;
        font: normal normal normal 21px/28px "Lato", "Noto Sans TC", sans-serif;
        line-height: 1.5em !important;
        letter-spacing: .1em;
        @include pad {
            font: normal normal normal 16px/24px "Lato", "Noto Sans TC", sans-serif;
        }
        @include mobile {
            padding: $small;
            font: normal normal normal 14px/21px "Lato", "Noto Sans TC", sans-serif;
            display: none;
        }
    }
    .link {
        color: $color-primary;
        font: normal normal bold 24px/32px "Lato", "Noto Sans TC", sans-serif;
        transition: .5s;
        &:hover {
            color: $color-secondary;
        }
        @include pad {
            font: normal normal bold 21px/28px "Lato", "Noto Sans TC", sans-serif;
        }
        @include mobile {
            font: normal normal bold 16px/24px "Lato", "Noto Sans TC", sans-serif;
        }
    }
    .arrow {
        display: none;
        @include mobile {
            font-size: 28px;
            color: $color-white;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 2%;
            display: flex;
            align-items: center;
            cursor: pointer;
            transform: rotate(0deg);
            &.active {
                transform: rotate(180deg);
            }
        }
    }
    .number {
        color: $color-phone;
    }
}